.short {
    width: 100px;
    border-bottom: solid #f9f9f9;

}

#info1,
#info2,
#info5,
#info6 {
    font-size: 40px;
}

.container-fluid {
    font-family: 'Neucha', cursive;
    color: #36454F;
    font-weight: bold;
    min-width: 300px;
    height: 100vh;

}

.grey-jumbo {

    margin-top: -30px;
    border-radius: 0px;
    height: 500px;
    background-color: #66afe9;

}

.top {
    background-color: #31b0d5;

}

#info3 {
    font-size: 80px;
}

.jumbotron {
    margin-bottom: 0px;
}
body{
    background-color: #36454F;
}
